* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.uppercase {
  text-transform: uppercase;
}

.page-wrapper {
  width: 1020px;
  position: relative;
}

.portfolio {
  width: 100%;
  height: 870px;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 70px;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.portfolio__header {
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  margin-bottom: 26px;
  letter-spacing: 0.2px;
}

.portfolio__description {
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 300;
  text-align: left;
  margin-bottom: 11px;
  letter-spacing: -0.2px;
}

.portfolio__filters {
  margin-bottom: 20px;
}

.portfolio__content-container {
  height: 620px;
  overflow: hidden;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 287px;
}

.filter__button {
  font-size: 12px;
  line-height: 20px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  padding-left: 6px;
  padding-right: 6px;
  border: 1px solid #767e9e;
  border-radius: 5px;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
  -webkit-transition: border-color 300ms ease-in-out;
  transition: border-color 300ms ease-in-out;
  cursor: pointer;
}

.filter__button_active {
  color: #dedede;
  border-color: #dedede;
}

.filter__button:first-child {
  padding-left: 7px;
  padding-right: 7px;
}

.filter__button:hover {
  color: #adb817;
  border-color: #adb817;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
  -webkit-transition: border-color 300ms ease-in-out;
  transition: border-color 300ms ease-in-out;
}

.container-4x3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-4x3__item {
  width: 220px;
  height: 186px;
  margin-bottom: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.about-us {
  width: 100%;
  height: 728px;
  background-color: #f2f2f2;
  padding-top: 68px;
  padding-left: 40px;
  padding-right: 40px;
}

.about-us__header {
  letter-spacing: -0.1px;
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  margin-bottom: 27px;
}

.about-us__description {
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 300;
  text-align: left;
  margin-bottom: 45px;
  word-spacing: -0.4px;
}

.about-us__container {
  width: 100%;
}

.container-3-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-3-column__item {
  -ms-flex-preferred-size: 303px;
      flex-basis: 303px;
}

.card__photo {
  margin-bottom: 15px;
  height: 302px;
}

.card__name {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  margin-bottom: 10px;
}

.card__description {
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  text-align: justify;
  letter-spacing: -0.15px;
  margin-bottom: 22px;
}

.card__social-icons {
  width: 154px;
}

.social-icons-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@font-face {
  font-family: "Lato";
  src: url("assets/Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: url("assets/Lato-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Lato";
  src: url("assets/Lato-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "Lato";
  src: url("assets/Lato-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
/*# sourceMappingURL=singolo2.css.map */