*{
  margin: 0;
  box-sizing: border-box;
}

.uppercase{
  text-transform: uppercase;
}

.page-wrapper{
  width: 1020px;
  position: relative;
}

.portfolio {
  width: 100%;
  height: 870px;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 70px;
  background-color: #2d303a;
  &__header {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin-bottom: 26px;
    letter-spacing: 0.2px;
  }

  &__description {
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    margin-bottom: 11px;
    letter-spacing: -0.2px;
  }

  &__filters {
    
    margin-bottom: 20px;
  }

  &__content-container {
    height: 600px;
    overflow: hidden;
  }
}
.filter {
  display: flex;
  justify-content: space-between;
  width: 287px;
  &__button {
    font-size: 12px;
    line-height: 20px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    padding-left: 6px;
    padding-right: 6px;
    border: 1px solid #767e9e;
    border-radius: 5px;
    &:first-child{
      padding-left: 7px;
      padding-right: 7px;
    }
    &:hover{
      color: #bbaa60;
      border-color: #bbaa60;
      
    }
  }
  .active{
    color: #dedede;;
    border-color: #dedede;;
  }
}
.container-4x3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__item {
    width: 220px;
    height: 187px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}




@font-face {
  font-family: "Lato";
  src: url("assets/Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: url("assets/Lato-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Lato";
  src: url("assets/Lato-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "Lato";
  src: url("assets/Lato-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
